<h1>Secrets</h1>

<hr>

<% @secrets.each do |secret| %>
	<% if current_user == secret.user %>
		<!-- Secret Content that only the User that created that secret can see.-->
		<p><%= secret.content %></p>
		<p><%= secret.likes.count %> likes</p>

		<% unless secret.users.include? current_user %>
			<form action="/secrets/<%= secret.id %>/likes" method="post">
				<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
				<button>Like</button>
			</form>
		<% else %>
			<form action="/secrets/<%= secret.id %>/likes/<%= current_user.likes.find_by(secret: secret).id %>" method="post">
				<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
				<input type="hidden" name="_method" value="delete">
				<button>Unlike</button>
			</form>
		<% end %>

		<form action="/secrets/<%= secret.id %>" method="post">
			<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
			<input type="hidden" name="_method" value="delete">
			<button>Delete Secret</button>
		</form>

		<hr>
	<% else %>
		<!-- Secret Content that everyone can see -->
		<p><%= secret.content %></p>
		<p><%= secret.likes.count %> likes</p>

		<% unless secret.users.include? current_user %>
			<form action="/secrets/<%= secret.id %>/likes" method="post">
				<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
				<button>Like</button>
			</form>
		<% else %>
			<form action="/secrets/<%= secret.id %>/likes/<%= current_user.likes.find_by(secret: secret).id %>" method="post">
				<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
				<input type="hidden" name="_method" value="delete">
				<button>Unlike</button>
			</form>
		<% end %>

		<hr>
	<% end %>
<% end %>